* {
    box-sizing: border-box;
}
body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}
header {
    width: 100%;
    padding: 40px 32px 104px 165px;
}
.logo {
    height: 39px;
    width: 95px;
}
.content {
    display: flex;
    margin-top: 131px;
    justify-content: space-between;
}
#yoga {
    width: 55%;
    margin-left: 10px;
}
.text {
    flex: 1;
}
h1, h2 {
    color: #9B51E0;
    font-size: 64px;
    line-height: 77px;
    font-style: normal;
    margin: 0;
    padding-top: 160px;
}
.text p {
    color: #646F75;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    margin: 20px 0 50px 0;
}
.text button {
    width: 145px;
    height: 50px;
    background-color: #9B51E0;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    color: white;
    border-radius: 30px;
    padding: 10px;
    border: none;
}
section {
    background-color: #DFDBF5;
    height: 20px;
    width: 100%;
}
main {
    width: 100%;
}
h2 {
    text-align: center;
    padding-top: 100px;
    font-size: 48px;
    line-height: 58px; 
}
.main-content {
    padding: 80px 191px 142px 170px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.block {
    width: calc(33.33% - 60px);
    height: 230px;
    margin: 30px;
    background-color: #DFDBF5;
    border-radius: 45px;
    font-size: 24px;
    color: #646F75;
    line-height: 29px;
    display: flex;
    align-items: center;
    padding: 0 24px;
}
footer {
    background-color: #9B51E0;
    padding: 20px;
    display: flex;
    height: 130px;
    justify-content: space-around;
    align-items: center;
}
footer p {
    color: white;
    text-align: center;
    font-size: 18px;
    line-height: 30px;
}
.fewlogo img{
    padding-right: 25px;
}




